.like-button {
    position: absolute;
    bottom: 11.04%;
    right: 8.33%;
    opacity: 0;
    padding: 0;
    width: 40px;
    height: 36.7px;
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url('../../../imgs/border_heart.svg');
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    cursor: pointer;
    &:hover {
        background-image: url('../../../imgs/hovered_heart.svg');
      }
  }
  
  
  
  ._liked {
    background-image: url('../../../imgs/filled_heart.svg');
  }